<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Biografía</title>
  <style>
.enlace {
      margin-right: 240px; 
    }
    body {
      font-family: Arial, sans-serif;
      background-color: #dfffda;
      padding: 20px;
      max-width: 800px;
      margin: 0 auto;
    }

    h1 {
      color: #333;
      text-align: center;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 20px auto;
    }

    h2 {
      margin-top: 20px;
    }

    p {
      line-height: 1.6;
    }
    
  </style>
  
</head>
<body>
  
  <h1>Mi Biografía</h1>

  <img src="assets/Foto1.jpg" width="180" alt="" class="box-img">

  <h2>Información personal</h2>
  <p><strong>Nombre:</strong> Nahin Olmedo</p>
  <p><strong>Fecha de nacimiento:</strong> 12 de abril del 2001</p>
  <p><strong>Ubicación:</strong> Machala, El oro, Ecuador</p>

  <h2>Detalles personales</h2>
  <p>Hola, soy una persona bastante optimista e interactiva,me desempeño de muy buena forma en el ambito de la programacion y sobre todo
    en la programacion web, soy bueno en las matematicas y siendo lider de un grupo de trabajo..</p>

  <h2>Educación</h2>
  <p><strong>Escuela:</strong> Unidad Educativa "Heroes de Paquisha"</p>
  <p><strong>Colegio:</strong> Unidad Educativa "Eloy Alfaro"</p>
  <p><strong>Universidad:</strong> Universidad Tecnica De Machala</p>

  <h2>Redes sociales</h2>
  <a href="https://www.youtube.com/" class="enlace btn btn-primary enabled" tabindex="-1" role="button" aria-disabled="true">Youtube</a>

  <a href="https://www.facebook.com/" class="enlace btn btn-primary enabled" tabindex="-1" role="button" aria-disabled="true">Facebook</a>

  <a href="https://www.instagram.com/" class="btn btn-primary enabled" tabindex="-1" role="button" aria-disabled="true">Instagram</a>

</body>
</html>
